{% extends 'base.html'%}
{% block title %}
108下半年交通事故分析
{% endblock %}
{% block titlemessage %}
{% endblock %}
{% block content %}

<center>

  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
        選擇縣市
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        {% for i in test%}
        <li><a class="dropdown-item" href="/place/{{i.City_number}}">{{i.City_place}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</center>

{% endblock %}
