{% extends 'base.html'%}
{% block title %}
108下半年交通事故分析
{% endblock %}
{% block titlemessage %}
{% endblock %}
{% block content %}
<table class="table">
        <thead>
            <tr>
                <th scope="col">時間</th>
                <th scope="col">地點</th>
                <th scope="col">死傷人數</th>
                <th scope="col">查詢</th>

            </tr>
        </thead>
        <tbody>
            {%for i in data %}
            <tr>
                <td>{{i.time}}</td>
                <td>{{i.place}}</td>
                <td>{{i.people}}</td>
                <td><button class='btn btn-sm'>
                        <a href='/maps/{{i.latitude}},{{i.longitude}}/'>
                            查詢 </a>
                    </button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

 